<!-- ========== Start Courses ========== -->
<section class="courses-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">courses</h2>
                    <p class="sub-title">Find the right course for you</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- ========== Start course item ========== -->
            <div class="col-md-6 col-lg-3">
                <div class="courses-item">
                    <a href="{% url 'website:course-detail' %}" class="link">
                        <div class="course-item-inner">
                            <div class="img-box">
                                <img src="{% static 'website/images/courses/web-development/1.jpg' %}" alt="course-img">
                            </div>
                            <h3 class="title">Starting</h3>
                            <div class="instructor">
                                <img src="{% static 'website/images/instructor/1.png' %}" alt="instructor">
                                <span class="instructor-name">Vishal Vishwakarma</span>
                            </div>
                            <div class="rating">
                                <span class="average-rating">(4.5)</span>
                                <span class="average-star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                                <span class="reviews">230</span>
                            </div>
                            <div class="price">$49</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ========== End course item ========== -->
            <!-- ========== Start course item ========== -->
            <div class="col-md-6 col-lg-3">
                <div class="courses-item">
                    <a href="#" class="link">
                        <div class="course-item-inner">
                            <div class="img-box">
                                <img src="{% static 'website/images/courses/web-development/2.jpg' %}" alt="course-img">
                            </div>
                            <h3 class="title">CSS for beginner</h3>
                            <div class="instructor">
                                <img src="{% static 'website/images/instructor/1.png' %}" alt="instructor">
                                <span class="instructor-name">Vishal Vishwakarma</span>
                            </div>
                            <div class="rating">
                                <span class="average-rating">(4.5)</span>
                                <span class="average-star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                                <span class="reviews">230</span>
                            </div>
                            <div class="price">$49</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ========== End course item ========== -->
            <!-- ========== Start course item ========== -->
            <div class="col-md-6 col-lg-3">
                <div class="courses-item">
                    <a href="#" class="link">
                        <div class="course-item-inner">
                            <div class="img-box">
                                <img src="{% static 'website/images/courses/web-development/3.jpg' %}" alt="course-img">
                            </div>
                            <h3 class="title">html for beginner</h3>
                            <div class="instructor">
                                <img src="{% static 'website/images/instructor/1.png' %}" alt="instructor">
                                <span class="instructor-name">Vishal Vishwakarma</span>
                            </div>
                            <div class="rating">
                                <span class="average-rating">(4.5)</span>
                                <span class="average-star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                                <span class="reviews">230</span>
                            </div>
                            <div class="price">$49</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ========== End course item ========== -->
            <!-- ========== Start course item ========== -->
            <div class="col-md-6 col-lg-3">
                <div class="courses-item">
                    <a href="#" class="link">
                        <div class="course-item-inner">
                            <div class="img-box">
                                <img src="{% static 'website/images/courses/web-development/4.jpg' %}" alt="course-img">
                            </div>
                            <h3 class="title">html for beginner</h3>
                            <div class="instructor">
                                <img src="{% static 'website/images/instructor/1.png' %}" alt="instructor">
                                <span class="instructor-name">Vishal Vishwakarma</span>
                            </div>
                            <div class="rating">
                                <span class="average-rating">(4.5)</span>
                                <span class="average-star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                                <span class="reviews">230</span>
                            </div>
                            <div class="price">$49</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ========== End course item ========== -->
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-theme">view course</a>
            </div>
        </div>
    </div>
</section>
<!-- ========== End Courses ========== -->
